<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" []>
<!--3.2.1.2.1. eXo access control-->
<section id="JCR.AccessControl.eXoAccessControl">
    <title>eXo access control</title>
    <para>The <ulink url="http://jcp.org/en/jsr/detail?id=170">JSR 170</ulink> specification does not define how permissions are managed
    or checked. So eXo JCR has implemented its own proprietary extension to
    manage and check permissions on nodes. In essence, this extension uses an
    <ulink url="http://en.wikipedia.org/wiki/Access_control_list">Access Control List (ACL)</ulink> policy model applied to eXo Organization model.
  </para>

  <para xml:id="JCR.AccessControl.eXoAccessControl.PrincipalAndIdentity">
    <citetitle>
      <emphasis role="bold">Principal and Identity</emphasis>
    </citetitle>
  </para>
      <para>At the heart of eXo Access Control, is the notion of the <emphasis role="bold">identity</emphasis> concept. Access to JCR is made through
      sessions acquired against a repository. Sessions can be authenticated
      through the standard (but optional) repository login mechanism. Each
      session is associated with a <emphasis role="bold">principal</emphasis>.
      The principal is an authenticated user or group that may act on JCR
      data. The identity is a string identifying this <emphasis role="bold">group or user</emphasis>.&apos;</para>
      <para>There are 3 reserved identities that have special meanings in eXo
      JCR:</para>
      <itemizedlist>
        <listitem>
          <para><emphasis role="bold">any</emphasis>: represent any
          authenticated session.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">anonim</emphasis>: represent a
          principal for non-authenticated sessions. (No error, it&apos;s really
          &quot;\_\_anonim&quot;.)</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">system</emphasis>: represent a
          principal for system sessions, typically used for administrative
          purposes. System session has full access (all permissions) to all
          nodes; therefore be careful when working with system
          sessions.</para>
        </listitem>
      </itemizedlist>
  <note>
    <para xml:id="JCR.AccessControl.eXoAccessControl.Notes">
      <emphasis role="bold">Access control nodetypes are not extendible:</emphasis>
      The access control mechanism works for
      <emphasis role="bold">exo:owneable</emphasis>
      and
      <emphasis role="bold">exo:privilegeable</emphasis>
      nodetypes only, not for their
      subtypes. So, you cannot extend those nodetypes.
    </para>
    <para>
      <emphasis role="bold">Autocreation:</emphasis>
      By default, newly
      created nodes are neither
      <emphasis role="bold">exo:privilegeable</emphasis>
      nor
      <emphasis role="bold">exo:owneable</emphasis>
      but it is possible to configure the
      repository to auto-create
      <emphasis role="bold">exo:privilegeable</emphasis>
      or/and
      <emphasis role="bold">exo:owneable</emphasis>
      thanks to eXo&apos;s JCR interceptors
      extension (see <link linkend="JCR.Extensions">JCR Extensions</link>.
    </para>
    <para><emphasis role="bold">OR-based Privilege Inheritance</emphasis>:
      Note, that eXo&apos;s Access Control implementation supports a privilege
      inheritance that follows a strategy of either...or/ and has only an
      ALLOW privilege mechanism (there is no DENY feature). This means that a
      session is allowed to perform some operations on some nodes if its
      identity has an appropriate permission assigned to this node. Only if
      there is no exo:permission property assigned to the node itself, the
      permissions of the node&apos;s ancestors are used.
    </para>
  </note>

      <section id="JCR.AccessControl.eXoAccessControl.ACL">
      <title>ACL</title>
      <para>An access control list (ACL) is a list of permissions attached to
      an object. An ACL specifies which users, groups or system processes are
      granted access to JCR nodes, as well as what operations are allowed to
      be performed on given objects.</para>
      <para>eXo JCR Access Control is based on two facets applied to nodes:</para>
      <itemizedlist>
        <listitem>
          <para><emphasis role="bold">Privilegeable</emphasis>: Means that
          the user or group (also called principal) needs the appropriate
          privileges to access this node. The privileges are defined as
          (positive) permissions that are granted to users or groups.</para>
        </listitem>
        <listitem>
          <para><emphasis role="bold">Ownable</emphasis>: The node has an
          <emphasis role="bold">owner</emphasis>. The owner has always
          <emphasis role="bold">full access</emphasis> (all permissions) to
          the node, independent of the privilegeable facet.</para>
        </listitem>
      </itemizedlist>

        <para xml:id="JCR.AccessControl.eXoAccessControl.ACL.Privilegeable">
          <citetitle>
            <emphasis role="bold">Privilegeable</emphasis>
          </citetitle>
        </para>
            <para>A privilegeable node defines the permissions required for
        actions on this node. For this purpose, it contains an ACL.</para>
        <para>At JCR level, this is implemented by an <parameter>exo:privilegeable</parameter> mixin.</para>
        <programlisting language="xml">&lt;nodeType name=&quot;exo:privilegeable&quot; isMixin=&quot;true&quot; hasOrderableChildNodes=&quot;false&quot; primaryItemName=&quot;&quot;&gt;
   &lt;propertyDefinitions&gt;
      &lt;propertyDefinition name=&quot;exo:permissions&quot; requiredType=&quot;Permission&quot; autoCreated=&quot;true&quot; mandatory=&quot;true&quot;
                          onParentVersion=&quot;COPY&quot; protected=&quot;true&quot; multiple=&quot;true&quot;&gt;
         &lt;valueConstraints/&gt;  
      &lt;/propertyDefinition&gt;        
   &lt;/propertyDefinitions&gt;  
&lt;/nodeType&gt;</programlisting>
        <para>A privilegeable node can have multiple <parameter>exo:permissions</parameter> values.
        The type of these values is the eXo JCR specific Permission type. The
        Permission type contains a list of ACL.</para>
        <para>The possible values are corresponding to JCR standard
        actions:</para>
        <itemizedlist>
          <listitem>
            <para><emphasis role="bold">read</emphasis>: The node or its
            properties can be read.</para>
          </listitem>
          <listitem>
            <para><emphasis role="bold">remove</emphasis>: The node or its
            properties can be removed.</para>
          </listitem>
          <listitem>
            <para><emphasis role="bold">add_node</emphasis>: Child nodes can
            be added to this node.</para>
          </listitem>
          <listitem>
            <para><emphasis role="bold">set_property</emphasis>: The node&apos;s
            properties can be modified, added or removed.</para>
          </listitem>
        </itemizedlist>

        <para xml:id="JCR.AccessControl.eXoAccessControl.ACL.Ownable">
          <citetitle>
            <emphasis role="bold">Ownable</emphasis>
          </citetitle>
        </para>

        <para>An ownable node defines an owner identity. The <emphasis role="bold">owner</emphasis> has always <emphasis role="bold">full privileges</emphasis>. These privileges are independent of the
        permissions set by exo:permissions. At JCR level, the ownership is
        implemented by an <parameter>exo:owneable</parameter> mixin.
        This mixin holds an owner property.</para>
        <programlisting language="xml">&lt;nodeType name=&quot;exo:owneable&quot; isMixin=&quot;true&quot; hasOrderableChildNodes=&quot;false&quot; primaryItemName=&quot;&quot;&gt;
   &lt;propertyDefinitions&gt;
      &lt;propertyDefinition name=&quot;exo:owner&quot; requiredType=&quot;String&quot; autoCreated=&quot;true&quot; mandatory=&quot;true&quot; onParentVersion=&quot;COPY&quot;
                          protected=&quot;true&quot; multiple=&quot;false&quot;&gt;
         &lt;valueConstraints/&gt;
      &lt;/propertyDefinition&gt;        
   &lt;/propertyDefinitions&gt;
&lt;/nodeType&gt;</programlisting>
        <para>The exo:owner property value contains exactly one identity
        string value. There might be a long list of different permissions for
        different identities (users or groups). All permissions are always
        positive permissions; denials are not possible. When checking a
        permission of an action, it is therefore perfectly sufficient that the
        principal of a session belongs to the groups to which the
        concerned action is granted.</para>

        <para xml:id="JCR.AccessControl.eXoAccessControl.ACL.ACLInheritance">
          <citetitle>
            <emphasis role="bold">ACL inheritance</emphasis>
          </citetitle>
        </para>

        <para>To grant or deny access to a node, eXo JCR applies a
        privilege resolving logic at node access time.</para>
        <para>If a node is <emphasis role="bold">privilegeable</emphasis>, the
        node&apos;s ACL is used exclusively. If the ACL does not match the
        principal&apos;s identity, the principal has no access (except the owner of
        the node).</para>
        <para>Non-privilegeable nodes inherit permissions from their parent
        node. If the parent node is not privilegeable either, the resolving
        logic looks further up the node hierarchy and stops with the first
        privilegeable ancestor of the current node. All nodes potentially
        inherit from the <emphasis role="bold">workspace</emphasis> root
        node.</para>
        <para>The owner of a node is inherited in accordance with the same
        logic: If the node has no owner, the owner information of the closest
        owneable ancestor is inherited.</para>
        <para>This inheritance is implemented by browsing up the node&apos;s
        hierarchy. At access time, if the node does not have owner or
        permissions, the system looks up into the node&apos;s ancestor hierarchy
        for the <emphasis role="bold">first</emphasis> ACL.</para>

        <para xml:id="JCR.AccessControl.eXoAccessControl.ACL.DefaultACLOfRootNode">
          <citetitle>
            <emphasis role="bold">Default ACL of the root node</emphasis>
          </citetitle>
        </para>

        <para>When no matching ACL is found in the ancestor hierarchy, the
          system may end up looking at the root node&apos;s ACL. As ACL is optional, even for the root node. If
          the root node has no ACL, the following
          rule is ultimately applied to resolve privileges:
        </para>
        <itemizedlist>
          <listitem>
            <para><emphasis role="bold">any</emphasis> identity (any
            authenticated session) is granted all permissions.</para>
          </listitem>
        </itemizedlist>
      </section>


  <section id="JCR.AccessControl.eXoAccessControl.Examples">
    <title>Example</title>

    <para xml:id="JCR.AccessControl.eXoAccessControl.Examples.XMLExample">
      <citetitle>
        <emphasis role="bold">XML</emphasis>
      </citetitle>
    </para>
            <para>In the following example, you see a node named &quot;Politics&quot; which
        contains two nodes named &quot;Cats&quot; and &quot;Dogs&quot;.</para>
        <note>
          <para>These examples are exported from eXo DMS using the \&quot;document
          view\&quot; representation of JCR. Each value of a multi-value property is
          separated by a whitespace, each whitespace is escaped by
          <emphasis>x0020</emphasis>.</para>
        </note>
        <programlisting language="xml">&lt;Politics  jcr:primaryType=&quot;nt:unstructured&quot; jcr:mixinTypes=&quot;exo:owneable exo:datetime exo:privilegeable&quot; exo:dateCreated=&quot;2009-10-08T18:02:43.687+02:00&quot; 
exo:dateModified=&quot;2009-10-08T18:02:43.703+02:00&quot; 
exo:owner=&quot;root&quot; 
exo:permissions=&quot;any_x0020_read *:/platform/administrators_x0020_read *:/platform/administrators_x0020_add_node *:/platform/administrators_x0020_set_property *:/platform/administrators_x0020_remove&quot;&gt;

&lt;Cats jcr:primaryType=&quot;exo:article&quot; 
jcr:mixinTypes=&quot;exo:owneable&quot; 
exo:owner=&quot;marry&quot;  
exo:summary=&quot;The_x0020_secret_x0020_power_x0020_of_x0020_cats_x0020_influences_x0020_the_x0020_leaders_x0020_of_x0020_the_x0020_world.&quot; 
exo:text=&quot;&quot; exo:title=&quot;Cats_x0020_rule_x0020_the_x0020_world&quot; /&gt;

&lt;Dogs jcr:primaryType=&quot;exo:article&quot; 
jcr:mixinTypes=&quot;exo:privilegeable&quot; 
exo:permissions=&quot;manager:/organization_x0020_read manager:/organization_x0020_set_property&quot;
exo:summary=&quot;Dogs&quot; 
exo:text=&quot;&quot; exo:title=&quot;Dogs_x0020_are_x0020_friends&quot; /&gt;

&lt;/Politics&gt;</programlisting>
        <para>The &quot;Politics&quot; node is <parameter>exo:owneable</parameter> and <parameter>exo:privilegeable</parameter>. It has both an <parameter>exo:owner</parameter> property and  an <parameter>exo:permissions</parameter> property. There is an <parameter>exo:owner=&quot;root&quot;</parameter> property so that the user root
        is the owner. In the exo:permissions value, you can see the ACL that is a list
        of access controls. In this example, the group <emphasis role="bold">*:/platform/administrators</emphasis> has all rights on
        this node (remember that the &quot;<emphasis role="bold">*</emphasis>&quot; means any kind of membership).
         <emphasis role="bold">any</emphasis>  means that any users also have the read
        permission.s</para>
        <para>As you see in the <parameter>jcr:mixinTypes</parameter> property, the &quot;Cats&quot; node is
        <parameter>exo:owneable</parameter> and there is an
        <parameter>exo:owner=&quot;marry&quot;</parameter> property so that
        the user marry is the owner. The &quot;Cats&quot; node is <emphasis role="bold">not exo:privilegeable</emphasis> and has <emphasis role="bold">no exo:permissions</emphasis>. In this case, you can see the <emphasis role="bold">inheritance mechanism</emphasis> here is that the
        &quot;Cats&quot; node has the same permissions as &quot;Politics&quot; node.</para>
        <para>Finally, the &quot;Dogs&quot; node is also a child node of &quot;Politics&quot;.
        This node is <emphasis role="bold">not</emphasis> <parameter>exo:owneable</parameter> and
        inherits the owner of the &quot;Politics&quot; node (which is the user root).
        Otherwise, &quot;Dogs&quot; is <parameter>exo:privilegeable</parameter> and therefore, it has its own
        <parameter>exo:permissions</parameter>. That means only the
        users having a &quot;manager&quot; role in the group &quot;/organization&quot; and the
        user &quot;root&quot; have the rights to access this node.</para>

    <para xml:id="JCR.AccessControl.eXoAccessControl.Examples.InheritanceExamples">
      <citetitle>
        <emphasis role="bold">Inheritance</emphasis>
      </citetitle>
    </para>

        <para>Here is an example showing the accessibility of two nodes (to
        show inheritance) for two sample users named <emphasis role="bold">manager</emphasis> and <emphasis role="bold">user</emphasis>:</para>
        <para>The &quot;+&quot; symbol means that there is a child node
        &quot;exo:owneable&quot;.</para>
        <mediaobject>
          <imageobject>
            <imagedata fileref="images/other/acl.gif"/>
          </imageobject>
        </mediaobject>

    <para xml:id="JCR.AccessControl.eXoAccessControl.Examples.PermissionValidation">
      <citetitle>
        <emphasis role="bold">Permission validation</emphasis>
      </citetitle>
    </para>

        <para>This session describes  how permission is validated for different
        JCR actions.</para>
        <itemizedlist>
          <listitem>
            <para><emphasis role="bold">read node</emphasis>:  Check the read
            permission on a target node.</para>
            <para>For example: Read /node1/<emphasis role="bold">subnode</emphasis> node, JCR will check the &quot;read&quot;
            permission exactly on &quot;subnode&quot;.</para>
          </listitem>
          <listitem>
            <para><emphasis role="bold">read property</emphasis>: Check the read
            permission on a parent node.</para>
            <para>For example: Read /<emphasis role="bold">node1</emphasis>/myprop - JCR will check the &quot;read&quot;
            permission on &quot;node1&quot;.</para>
          </listitem>
          <listitem>
            <para><emphasis role="bold">add node</emphasis>:  Check  add_node  on a parent node.</para>
            <para>For example:      Add /<emphasis role="bold">node1</emphasis>/subnode node, JCR will check the
            &quot;add_node&quot; permission on &quot;node1&quot;.</para>
          </listitem>
          <listitem>
            <para><emphasis role="bold">set property</emphasis>: set_property
            on a parent node.</para>
            <para>For example:  Try to set /<emphasis role="bold">node1</emphasis>/myprop property,  JCR will check
            the &quot;set_property&quot; permission on &quot;node1&quot;.</para>
          </listitem>
          <listitem>
            <para><emphasis role="bold">remove node</emphasis>: Check the remove
            permission on a target node.</para>
            <para>For example: Try to remove /node1/<emphasis role="bold">subnode</emphasis> node, JCR will check the &quot;remove&quot;
            permission on &quot;subnode&quot;.</para>
          </listitem>
          <listitem>
            <para><emphasis role="bold">remove property</emphasis>:  Check the 
            remove permission on  a parent node.</para>
            <para>For example: Try to remove /<emphasis role="bold">node1</emphasis>/myprop property, JCR will check
            the &quot;remove&quot; permission on &quot;node1&quot;.</para>
          </listitem>
          <listitem>
            <para><emphasis role="bold">add mixin</emphasis>:  Check the &quot;add_node&quot;
            and &quot;set_property&quot; permission on a target node.</para>
            <para>For example: Try to add mixin to /node1/<emphasis role="bold">subnode</emphasis> node, JCR will check the &quot;add_node&quot;
            and &quot;set_property&quot; permission on &quot;subnode&quot;.</para>
          </listitem>
        </itemizedlist>
        <!--note>
          <para>The behavior of the permission &quot;remove&quot; and &quot;add mixin&quot; validation
          has changed since JCR 1.12.6-GA. The old behavior is:</para>
          <para><itemizedlist>
              <listitem>
                <para><emphasis role="bold">remove node</emphasis>:  Check
                 the remove permission on a parent node.</para>
                <para>For example: Try to remove /<emphasis role="bold">node1</emphasis>/subnode node, JCR will check
                the &quot;remove&quot; permission on &quot;node1&quot;.</para>
              </listitem>
              <listitem>
                <para><emphasis role="bold">add mixin</emphasis>: Check
                the &quot;add_node&quot; and &quot;set_property&quot; permission on a parent node.</para>
                <para>For example: Try to add mixin to /<emphasis role="bold">node1</emphasis>/subnode node, JCR will check
                the &quot;add_node&quot; and &quot;set_property&quot; permission on &quot;node1&quot;.</para>
              </listitem>
            </itemizedlist></para>
        </note-->

    <para xml:id="JCR.AccessControl.eXoAccessControl.JavaAPI">
      <citetitle>
        <emphasis role="bold">Java API</emphasis>
      </citetitle>
    </para>

      <para>eXo JCR&apos;s <parameter>ExtendedNode</parameter> interface which extends <parameter>javax.jcr.Node</parameter>
      interface provides additional methods for Access Control
      management.</para>
      <table>
        <title>Additional methods</title>
        <tgroup cols="2">
          <thead>
            <row>
              <entry>Method signature</entry>
              <entry>Description</entry>
            </row>
          </thead>
          <tbody>
            <row>
              <entry><parameter>void setPermissions(Map&lt;String, String[]&gt; permissions</parameter></entry>
              <entry>Assign a set of Permissions to a node.</entry>
            </row>
            <row>
              <entry><parameter>void setPermission(String identity, String[] permission)</parameter></entry>
              <entry>Assign some Identities&apos; Permission to a node.</entry>
            </row>
            <row>
              <entry><parameter>void removePermission(String identity)</parameter></entry>
              <entry>Remove an Identity&apos;s Permission.</entry>
            </row>
            <row>
              <entry><parameter>void removePermission(String identity, String permission)</parameter></entry>
              <entry>Remove the specified permission for a particular identity.</entry>
            </row>
            <row>
              <entry><parameter>void clearACL()</parameter></entry>
              <entry>Clear the current ACL so it becomes default.</entry>
            </row>
            <row>
              <entry><parameter>AccessControlList getACL()</parameter></entry>
              <entry>Return the current ACL.</entry>
            </row>
            <row>
              <entry><parameter>void checkPermission(String actions)</parameter></entry>
              <entry>Check Permission (<parameter>AccessDeniedException</parameter> will be thrown if being denied).</entry>
            </row>
          </tbody>
        </tgroup>
      </table>
      <para>The &quot;<parameter>identity</parameter>&quot; parameter is a user or a group name. The
      permissions are the literal strings of the standard action permissions
      (add_node, set_property, remove, and read).</para>
  </section>
</section>
